<article class="order-item {{ customClasses }}">
    <div class="replica-art-border">
        <p class="replica-art">{{ index || '-1' }}</p>
    </div>
    <div class="order-info">
        <h2>{{ review.studentNumber }}</h2>
        <p><span>{{ review.requestTime }}</span> Review request time</p>
        <!-- <div class="cost" [ngClass]="{ admin: adminView }"> -->
    </div>
    <div class="cost admin" *ngIf="accountService.account.id != -1">
        <button (click)="assign()">
            <img src="../../../assets/icons/thumb.svg" />
        </button>
    </div>
</article>