<article class="order-item {{ customClasses }}">
    <div class="replica-art-border">
        <p class="replica-art">{{ index || '-1' }}</p>
    </div>
    <div class="order-info">
        <h2>{{ review.studentNumber }}</h2>
        <p><span>{{ review.requestTime }}</span> Review request time</p>
        <!-- <div class="cost" [ngClass]="{ admin: adminView }"> -->
    </div>
    <div class="cost admin" *ngIf="accountService.account.id != -1">
        <button *ngIf="!taken">
            <img src="../../../assets/icons/take.svg" />
        </button>
        <a [href]="sanitize(review.studentNumber)" *ngIf="taken">
            <img src="../../../assets/icons/call.svg" class="thumb" />
        </a>
        <button (click)="assign()" *ngIf="taken">
            <img src="../../../assets/icons/thumb.svg" class="thumb" />
        </button>
    </div>
</article>